.topNavigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    vertical-align: middle;
    height: 64px;
    padding: 0.5rem 0.5rem;
}

a:link { 
    text-decoration: none; 
    color: #F5F5F5;
}
a:visited { 
    text-decoration: none;
    color: #F5F5F5;
}
a:hover { 
    text-decoration: none;
    color: #F5F5F5;
}
a:active { 
    text-decoration: none;
    color: #F5F5F5;
}

.googleLoginButtonSpan {
    flex: 1;
    display: flex;
    justify-content: right;
}

.leftPartFromMainLogo {
    flex: 1;
}

/* todo fix color when unhovering */
.googleLoginButton {
    border: none;
    padding-right: 5px;
}
.googleLoginButton:hover {
    border: none;
}
.googleLoginButton:hover span{
    color: #AEBED5;
} 
.googleLoginButton:hover {
    color: #AEBED5;
}