.ant-menu-item-selected {
  background-color: #AEBED5 !important;
}

.ant-btn-primary {
  background-color: #121F2B;
}

.ant-btn-primary-hover:hover {
  background-color: #AEBED5;
}

.ant-layout-sider {
  display: grid;
  align-content: center;
  justify-content: center;
}