.ant-menu-item-selected {
  background-color: #AEBED5 !important;
}

.ant-table-row-expand-icon:hover {
  color: #1f1f1f !important;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col {
  padding-left: 0 !important;
}

.ant-layout-sider {
  display: grid;
  align-content: center;
  justify-content: center;
}